<app-update-modal *ngIf="displayUpdateModal" [check]="checkData" (callGetApi)="callGetApi($event)"> </app-update-modal>
<div class="icon">
    <label >Add Check</label>
  
<svg    xmlns="http://www.w3.org/2000/svg" width="40" height="30" fill="currentColor" class="bi bi-plus-square-fill" data-toggle="modal" data-target="#myModal" viewBox="0 0 16 16" (click)="callAdd()">
  <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
</svg>


</div>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Url</th>
        <th scope="col">Frequency</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let check of checkList">
        <th scope="row">{{check.name}}</th>
        <td>{{check.url}}</td>
        <td>{{check.frequency}}</td>
        <td [style.color]="check.status_check === 'UP' ? 'green' : 'red'" class="status">{{check.status_check}}</td>
        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" (click)="updateCheck(check)">Update</button></td>
        <td><button type="button" class="btn btn-danger"(click)="deleteCheck(check.name)">Delete</button></td>
      </tr>
     
    </tbody>
  </table>

  