.form-group {
    display: flex;
    margin-bottom: 1rem;
    margin-left: 4%;
    margin-top: 3%;
    /* flex-wrap: wrap; */
}
.form-control{
    margin-left: 1%;
    margin-top: -1%;
}
.modal-content{
    color:black;
}